*{
	margin:0;
	padding:0;	
}

body{
    margin: 0;
    padding: 0;
    /*background-image: linear-gradient(160deg, rgb(0, 93, 28) 10%, rgb(0, 159, 48) 80%);*/
    background-color: #3e8e41;
    
}

#game{
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgb(103, 224, 143, 0.95);
    width: 600px;
    height: 420px;
	background-repeat:no-repeat;
    border: 8px solid black;
	border-radius: 25px;
}

#igralci {
  margin-bottom: 10px;
  font-size: 45px;
}
#izbira{
    margin-top: 20px;
    font-size: 40px;
}

.gumb{
   margin-top: 30px;
    display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.gumb:hover {
    background-color: #45a049;
  }
  
  .gumb:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.8);
  }
  
  .gumb:active {
    background-color: #3e8e41;
  }


h1{
    width: 1400px;
    position: fixed;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 150px;
    color: rgb(0, 0, 0);
}

#igralci{
    text-align: center;
    margin-top: 10px;
}

#diceLeva{
    position: absolute;
    margin-top: 350px;
    left: 20px;
    z-index: -1;
    width: 400px; 
    height: 240px;
    transform: rotate(20deg);
}

.diceDesno {
    position: absolute;
    top: 350px;
    right: 20px;
    z-index: -1;
}

.diceDesno img {
    max-width: 100%;
    width: 400px; 
    height: 240px;
    transform: rotate(-50deg);
}

.swal2-confirm {
    background-color: #4CAF50 !important; /* Set your desired button color */
}

.a {
	width: 70px;
	text-align: center;
	border-radius: 8px;
}